:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
body {
  background-color: var(--light);
}
.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
  margin-right: 8px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.operation {
  display: flex;
}
.operation button {
  width: calc(100% / 5);
  /* flex: 1 1 0%; */
  background-color: var(--primary);
  font-weight: bold;
}
.digits {
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 1 33.3333%;
  background-color: var(--dark);
}
